<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>

    <dialog id = "usuarios">
        <div id = "conteudo">
            <select name="Uf" id = "selectEstado" onchange="filtrarEstado()">
                <option value = "all"> Todos os Estados </option>
            </select>
            <h1 id = "errorMessage"></h1>
            <table id = "tabelaUsuarios">
                <tr>
                    <td>Nome</td>
                    <td>CEP</td>
                    <td>CPF</td>
                    <td>Estado</td>
                </tr>

                <% for(let i = 0; i < dadosUser.length; i++){ %>
                    <tr class = "trDadosUser">
                        <td class = "tdNome"><%= dadosUser[i].nome %></td>
                        <td class = "tdCep"><%= dadosUser[i].cep %></td>
                        <td class = "tdCpf"><%= dadosUser[i].cpf %></td>
                        <td class = "tdEstado"><%= dadosUser[i].estado %></td>
                        <form action="/deletarUsuario" method="post">
                            <td class = "temBotao">
                                <button class = "deletar" name = "cpf" value = "<%= dadosUser[i].cpf %>">Delete</button>
                            </td>
                         </form>
                        <td class = "temBotao">
                            <button class = "alterar" value = "<%= dadosUser[i].cpf %>">Alterar</button>
                        </td>
                    </tr>
                <%}%>
            </table>
        </div>
    </dialog>
    
    <header>
        <form action="/deslogar" method="post">
            <button id = "deslogar">Deslogar</button>
        </form>
        <button id = "mostraDadosUser">Mostrar Usuarios</button>
        <div id="logo">
            
        </div>
        <nav>
            <div id="nav_menu">
                <a href="/sobre">sobre nos</a>
                <a href="/aluguel">alugue</a>
                <a href="contato">contato</a>
            </div>
        </nav>
    </header>
    
    <main>
        
    </main>

    <aside>

    </aside>

    <footer>

    </footer>


    <script src = "scripts/home.js"></script>
</body>
</html>