<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>

    <dialog id = "usuarios">
        <div id = "conteudo">
            <select name="Uf" id = "selectEstado" onchange="filtrarEstado()">
                <option value = "all"> Todos os Estados </option>
            </select>
            <h1 id = "errorMessage"></h1>
            <table id = "tabelaUsuarios">
                <tr id = "tabelaHeader">
                    <td>Nome</td>
                    <td>CEP</td>
                    <td>CPF</td>
                    <td>Email</td>
                    <td>Telefone</td>
                    <td>Estado</td>
                </tr>

                <% for(let i = 0; i < dadosUser.length; i++){ %>
                    <tr class = "trDadosUser">
                        <td class = "tdNome tdDados"><%= dadosUser[i].nome %></td>
                        <td class = "tdCep tdDados"><%= dadosUser[i].cep %></td>
                        <td class = "tdCpf tdDados"><%= dadosUser[i].cpf %></td>
                        <td class = "tdEmail tdDados"><%= dadosUser[i].email %></td>
                        <td class = "tdTelefone tdDados"><%= dadosUser[i].telefone %></td>
                        <td class = "tdEstado tdDados"><%= dadosUser[i].estado %></td>
                        <form action="/deletarUsuario" method="post">
                            <td class = "temBotao">
                                <button class = "deletar" name = "cpf" value = "<%= dadosUser[i].cpf %>">Delete</button>
                            </td>
                         </form>
                        <td class = "temBotao">
                            <button class = "alterar" value = "<%= dadosUser[i].cpf %>">Alterar</button>
                        </td>
                    </tr>
                <%}%>
            </table>
        </div>
    </dialog>

    <header>
        <img src="img/logo.png">
            
        </div>
        <nav>
            <div id="nav_menu">
                <a href="/emBreve">Em breve</a>
                <a href="/emBreve">Em breve</a>
                <a href="/emBreve">Em breve</a>
            </div>
        </nav>

        <div id="search-box">
            <input type="text" id="text-search" placeholder="Pesquisar...">
            <button id="btn-search"></button>
        </div>
    </header>
    
    <main>
        <section id="aluguel">
                <h1>Casa 01</h1>
            <picture>
                <img src="img/casa01.jpg" alt="casa para alugar 01...">
            </picture>
            <p>CEP: XXXXX-XXX</p>
            <p>Cidade: XXXXXXXX</p>
            <p>Rua: XXXXXXXX XXXXXXXXX XXXXX</p>
            <p>Endereço: XXXXXXX-XXXXXXX-XXXXX</p>
            <p>Numero: 001</p>
            <p>Preço: $500.00</p>
        </section>
        <button id="btn_alugar">Alugar</button> 
    </main>
    
    <aside>
        
        <button id = "mostraDadosUser" class = "botaoFunc">Mostrar Usuarios</button>
        <form action="/deslogar" method="post">
            <button id = "deslogar" class = "botaoFunc">Deslogar</button>
        </form>

    </aside>

    <footer>

    </footer>

    <dialog id = "caixaAlterar">
        <form action="/alterar" method="post">
            <div id = "itens">
                <label>Nome</label><input type="text" name = "nome" required id = "nomeAlterar"> <br>
                <label>Email</label><input type="email" name = "email" required id = "emailAlterar"> <br>
                <label>Telefone</label><input type="text" name= "telefone" required id = "telefoneAlterar" oninput = "checkTelefoneMask()" maxlength="13" pattern=".{13}"> <br>
                <button name = "cpf" id = "botaoConfirmar">Confirmar</button>
            </div>
        </form>
    </dialog>

    <script src = "scripts/home.js"></script>
</body>
</html>