<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>

    <dialog id = "usuarios">
        <div id = "conteudo">
            <select name="Uf" id = "selectEstado" onchange="filtrarEstado()">
                <option value = "all"> Todos os Estados </option>
            </select>
            <h1 id = "errorMessage"></h1>
            <table id = "tabelaUsuarios">
                <tr>
                    <td>Nome</td>
                    <td>CEP</td>
                    <td>CPF</td>
                    <td>Email</td>
                    <td>Telefone</td>
                    <td>Estado</td>
                </tr>

                <% for(let i = 0; i < dadosUser.length; i++){ %>
                    <tr class = "trDadosUser">
                        <td class = "tdNome"><%= dadosUser[i].nome %></td>
                        <td class = "tdCep"><%= dadosUser[i].cep %></td>
                        <td class = "tdCpf"><%= dadosUser[i].cpf %></td>
                        <td class = "tdEmail"><%= dadosUser[i].email %></td>
                        <td class = "tdTelefone"><%= dadosUser[i].telefone %></td>
                        <td class = "tdEstado"><%= dadosUser[i].estado %></td>
                        <form action="/deletarUsuario" method="post">
                            <td class = "temBotao">
                                <button class = "deletar" name = "cpf" value = "<%= dadosUser[i].cpf %>">Delete</button>
                            </td>
                         </form>
                        <td class = "temBotao">
                            <button class = "alterar" value = "<%= dadosUser[i].cpf %>">Alterar</button>
                        </td>
                    </tr>
                <%}%>
            </table>
        </div>
    </dialog>
    
    <header>
        <div id="logo">
            
        </div>
        <nav>
            <div id="nav_menu">
                <a href="/emBreve">Sobre nós</a>
                <a href="/emBreve">Aluguel</a>
                <a href="/emBreve">Contato</a>
            </div>
        </nav>
    </header>
    
    <main>
        
    </main>
    
    <aside>
        
        <button id = "mostraDadosUser">Mostrar Usuarios</button>
        <form action="/deslogar" method="post">
            <button id = "deslogar">Deslogar</button>
        </form>

    </aside>

    <footer>

    </footer>

    <dialog id = "caixaAlterar">
        <form action="/alterar" method="post">
            <div id = "itens">
                <label>Nome</label><input type="text" name = "nome" required id = "nomeAlterar"> <br>
                <label>Email</label><input type="email" name = "email" required id = "emailAlterar"> <br>
                <label>Telefone</label><input type="text" name= "telefone" required id = "telefoneAlterar" oninput = "checkTelefoneMask()" maxlength="13" pattern=".{13}"> <br>
                <button name = "cpf" id = "botaoConfirmar">Confirmar</button>
            </div>
        </form>
    </dialog>

    <script src = "scripts/home.js"></script>
</body>
</html>